{% extends "hippie_admin/base.html" %}
{% load ha_debug %}
{% load humanize %}
{% load pretty_key %}

{% block content %}
    <style>
        .app-table-responsive {
            display: block;
            width: 100%;
            overflow-x: auto;
            -ms-overflow-style: -ms-autohiding-scrollbar;
        }

        .app-table-responsive.table-bordered {
            border: 0;
        }
    </style>

    <div class="row">
        <div class="col-lg-12">
            <div class="page-header">
                <h1>{% pretty_player player %}

                    <small>Last seen {{ player.lastseen|naturaltime }} </span> |

                        <a href="https://www.byond.com/members/{{ client.get_ckey }}" target="_blank">BYOND <i
                                class="fa fa-external-link"></i></a>

                    </small>
                </h1>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <ul class="list-group">
                <li class="list-group-item" style=""><strong
                        class="list-group-item-heading">Rank</strong>
                    {{ player.get_rank }}
                </li>
                <li
                        class="list-group-item {{ player.get_standing_css }}"><strong class="list-group-item-heading">Account
                    standing</strong>
                    {{ player.get_standing }}

                </li>
                <li
                        class="list-group-item"><strong class="list-group-item-heading">First seen</strong>
                    {{ player.firstseen|naturaltime }}
                </li>
                <li class="list-group-item"><strong class="list-group-item-heading">Last seen</strong>
                    {{ player.lastseen|naturaltime }}
                </li>
                <li class="list-group-item"><strong class="list-group-item-heading">Total Connections</strong>
                    {{ player.get_connections|length }}
                </li>
            </ul>
        </div>
        <div class="col-lg-6">
            <ul class="list-group">

                <li class="list-group-item ipaddr"><strong class="list-group-item-heading">Last IP</strong>
                    <a href="{% url 'hippie_admin:ip_show' player.get_last_ip %}">{{ player.get_last_ip }}</a>
                </li>
                <li class="list-group-item cid"><strong class="list-group-item-heading">Last CID</strong>
                    <a href="{% url 'hippie_admin:cid_show' player.computerid %}">{{ player.computerid }}</a>
                </li>
                <li class="list-group-item"><strong class="list-group-item-heading">IPs seen</strong>
                    {{ player.get_ips|length }}
                </li>
                <li class="list-group-item"><strong class="list-group-item-heading">CIDs seen</strong>
                    {{ player.get_cids|length }}
                </li>
                <li class="list-group-item"><strong class="list-group-item-heading">Alt Accounts</strong>
                    {{ alts|length }}
                </li>
            </ul>
        </div>
        <div class="col-lg-4"></div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-12">
            <div class="page-header">
                <h2>Alt accounts (BETA)
                    <small>({{ alts|length }})</small>
                </h2>
            </div>
            {% if user.is_superuser %}
                <p>last_seen: {{ client.last_seen }} | last_post: {{ client.last_post }}</p>
                <pre>{% for fp in client.fingerprints.all %}- {{ fp }}
                {% endfor %}</pre>
            {% endif %}
            {% if client == None or client.last_post == None %}
            <div class="alert alert-warning" role="alert">
                The ban evasion system has never ran against this player!
            </div>
            {% endif %}
            {% for alt in alts %}
                <li>{{ alt.ckey }} - <a href="{% url 'hippie_admin:user_show' alt.get_ckey %}"> show</a></li>
            {% empty %}
                No alt accounts that we could detect automatically (BETA).
            {% endfor %}
        </div>
    </div>

        <div class="row mt-4">
        <div class="col-lg-12">
            <div class="page-header">
                <h2>CIDs/IPs <a class="btn btn-xs btn-primary collapsed" data-toggle="collapse" href="#cidips"
                            aria-expanded="false">Show</a>
                    {% with player.get_ips|length as iplen %}
                    {% with player.get_cids|length as cidlen %}
                    <small>({{ cidlen|add:iplen }})</small>
                    {% endwith %}
                    {% endwith %}
                </h2>
            </div>
            <div class="collapse" id="cidips" aria-expanded="false">
                <ul>
                <h4>IPs:</h4>
                {% for ip in player.get_ips %}
                    <li><a href="{% url 'hippie_admin:ip_show' ip %}">{{ ip }}</a></li>
                {% endfor %}
                <h4>CIDs:</h4>
                {% for cid in player.get_cids %}
                    <li><a href="{% url 'hippie_admin:cid_show' cid %}">{{ cid }}</a></li>
                {% endfor %}
                </ul>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-12">
            <div class="page-header">
                <h2>Messages/Notes <a class="btn btn-xs btn-primary collapsed" data-toggle="collapse" href="#messages"
                                      aria-expanded="false">Show</a>
                    <small>({{ player.get_messages|length }})</small>
                </h2>
            </div>
            <div class="collapse" id="messages" aria-expanded="false">
                {% for message in player.get_messages %}
                    {% include "hippie_admin/users/message/message.html" %}
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-lg-12">
            <div class="page-header">
                <h2>Bans <a class="btn btn-xs btn-primary collapsed" data-toggle="collapse" href="#bans"
                            aria-expanded="false">Show</a>
                    <small>({{ player.get_bans|length }})</small>
                </h2>
            </div>
            <div class="collapse" id="bans" aria-expanded="false">
                {% for ban in player.get_bans %}
                    {% include "hippie_admin/users/ban/ban.html" %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}