{% extends "hippie_admin/base.html" %}
{% load pretty_key %}

{% block content %}
    <h1>Admins</h1>


    <table class="table sticky  table-condensed table-bordered sort">
        <thead>
        <tr>
            <th>ckey</th>
            <th>Rank</th>
            <th>Connections</th>
            <th>Connections in the last 30 days</th>
        </tr>
        </thead>
        <tbody>

        {% for admin, d in admins.items %}

            <tr>
                <td>
                    <a href="{% url 'hippie_admin:user_show' d.player.ckey %}">
                        {% pretty_player d.player %}
                    </a>
                </td>
                <td>{{ admin.rank }}</td>
                <td>{{ d.total_connections }}</td>
                <td>{{ d.recent_connections }}</td>
            </tr>

        {% empty %}
            <tr>No admins yet.</tr>
        {% endfor %}


        </tbody>
    </table>



{% endblock %}