{% extends "hippie_admin/base.html" %}
{% load pretty_key %}

{% block content %}
    <h1>Admins</h1>


    <table class="table sticky table-condensed table-bordered sort admindt">
        <thead>
        <tr>
            <th>ckey</th>
            <th>Rank</th>
            <th>Connections</th>
            <th>Connections in the last 30 days</th>
        </tr>
        </thead>
        <tbody>

        {% for admin, d in admins.items %}

            <tr>
                <td>
                    <a href="{% url 'hippie_admin:user_show' d.player.ckey %}">
                        {% pretty_player d.player %}
                    </a>
                </td>
                <td>{{ admin.rank }}</td>
                <td>{{ d.total_connections }}</td>
                <td>{{ d.recent_connections }}</td>
            </tr>

        {% empty %}
            <tr>No admins yet.</tr>
        {% endfor %}


        </tbody>
    </table>
{% endblock %}

{% block js %}
    <script>

    (function ($) {


var unique = 0;
var types = $.fn.dataTable.ext.type;

// Using form $.fn.dataTable.enum breaks at least YuiCompressor since enum is
// a reserved word in JavaScript
$.fn.dataTable['enum'] = function ( arr ) {
    var name = 'enum-'+(unique++);
    var lookup = window.Map ? new Map() : {};

    for ( var i=0, ien=arr.length ; i<ien ; i++ ) {
        lookup[ arr[i] ] = i;
    }

    // Add type detection
    types.detect.unshift( function ( d ) {
        return lookup[ d ] !== undefined ?
            name :
            null;
    } );

    // Add sorting method
    types.order[ name+'-pre' ] = function ( d ) {
        return lookup[ d ];
    };
};


})(jQuery);

        $(function () {
            $.fn.dataTable.enum( [ 'Host', 'HeadAdmin', 'GameMaster', 'GameAdmin', 'TrialAdmin', 'Mentor', 'Coder' ] );

            $('.admindt').dataTable({
                paging: false,
                "order": [[ 1, "asc" ]]
            });
        })
    </script>
{% endblock %}