{% load static %}
<!DOCTYPE html>
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=8" />

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
<script type="text/javascript" src="{% static "tango/evercookie/js/swfobject-2.2.min.js" %}"></script>
<script type="text/javascript" src="{% static "tango/evercookie/js/evercookie.js" %}"></script>
<script type="text/javascript" src="{% static "tango/js/fingerprint2.min.js" %}"></script>
<script type="text/javascript" src="{% static "tango/js/detection.js" %}"></script>


<script>
$(function() {
    var detection = new Detection();
    detection.GetFingerprint(function(result, components) {
        fingerprint = result
        detection.EverCookie.get("ckey", function(best_candidate, all_candidates) {
            ckey = best_candidate;

            var data = {
                'ec': best_candidate,
                'fp': fingerprint,
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            };

            $.ajax({
                url: "/tango/api/client?csrfmiddlewaretoken=" + encodeURI('{{ csrf_token }}'),
                type: 'POST',
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(data),
                dataType: 'json',
            });

            // upload ckey and fingerprint, return the new ckey response and store it in ec
            detection.EverCookie.set("ckey", "{{ client_blob }}");
        });
    });
});
</script>

</html>
