certifi==2017.7.27.1
chardet==3.0.4
defusedxml==0.5.0
Django==1.11.5
django-activeurl==0.1.10
django-allauth==0.33.0
django-appconf==1.0.2
django-classy-tags==0.8.0
django-debug-toolbar==1.8
django-enumfield-ng==1.1.0
django-mailgun==0.9.1
django-redis-cache==1.7.1
gunicorn==19.7.1
hiredis==0.2.0
idna==2.6
lxml==4.0.0
mysqlclient==1.3.12
pycryptodome==3.4.7
python3-openid==3.1.0
pytz==2017.2
raven==6.2.1
redis==2.10.6
requests==2.18.4
requests-oauthlib==0.8.0
six==1.11.0
sqlparse==0.2.4
urllib3==1.22
tqdm